/*-----------------------GENERAL-----------------------*/

/* Scroll behavior */

html{

    scroll-behavior: smooth;
    scroll-behavior: auto;

}

/* Global variables */

:root{

    --g-var1: placeholder;
    --g-var2: placeholder;
    --g-var3: placeholder;
    --g-var4: placeholder;
    --g-var5: placeholder;
    --g-var6: placeholder;

}

/* Local variables */

.selector1{

    --l-var1: placeholder;
    --l-var2: placeholder;
    --l-var3: placeholder;

}

.selector2{

    --l-var1: placeholder;
    --l-var2: placeholder;
    --l-var3: placeholder;

}

/*-----------------------MOBILE-----------------------*/

*{
    font-family: "Roboto", sans-serif;
}

.header{

    background-color: aquamarine;
    font-size: 22px;
    padding: 20px;
    text-align: center;

}

.aside1{

    background-color: bisque;
    padding: 15px;

}

.aside2{

    background-color: cyan;
    padding: 15px;

}

.article__header{

    align-items: center;
    display: flex;
    flex-direction: column;

}

.article__header > h2{

    margin: 10px 0;

}

.article__section1{

    padding: 5px;

}

.article__section2{

    background-color: orange;
    padding: 5px;

}

.article__section3{

    background-color: goldenrod;
    padding: 5px;

}

.footer{

    background-color: black;
    color: #fff;
    padding: 20px;
    text-align: center;

}





/*-----------------------TABLET-----------------------*/

@media screen and (min-width: 600px) {

    body{

        display: grid;
        grid-template-columns: 1fr 2fr 2fr;
        grid-template-rows: 70px 1fr 1fr 2fr 70px;
    
    }

    .header{
        grid-column: span 3;
        grid-row: span 1;
    }

    .aside1{
        grid-column: 1 / 2;
        grid-row: 2 / 4;
    }

    .aside2{
        grid-column: 1 / 2;
        grid-row: 4 / 5;
    }

    .article__header{
        grid-column: 2 / 4;
        grid-row: 2 / 3;
    }

    .article__section1{
        grid-column: 2 / 4;
        grid-row: 3 / 4;
    }

    .article__section2{
        grid-column: 2 / 3;
        grid-row: 4 / 5;
    }

    .article__section3{
        grid-column: 3 / 4;
        grid-row: 4 / 5;
    }

    .footer{
        grid-column: span 3;
        grid-row: 5 / 6;
    }


}

/*-----------------------DESKTOP-----------------------*/

@media screen and (min-width: 900px /*placeholder*/) {
    

    body{

        display: grid;
        grid-template-columns: .7fr 2fr 2fr .7fr;
        grid-template-rows: 70px .5fr .5fr 1fr 70px;
    
    }

    .header{
        grid-column: span 4;
        grid-row: span 1;
    }

    .aside1{
        grid-column: 1 / 2;
        grid-row: 2 / 5;
    }

    .aside2{
        grid-column: 4 / 5;
        grid-row: 2 / 5;
    }

    .article__header{
        grid-column: 2 / 4;
        grid-row: 2 / 3;
    }

    .article__section1{
        grid-column: 2 / 4;
        grid-row: 3 / 4;
    }

    .article__section2{
        grid-column: 2 / 3;
        grid-row: 4 / 5;
    }

    .article__section3{
        grid-column: 3 / 4;
        grid-row: 4 / 5;
    }

    .footer{
        grid-column: span 4;
        grid-row: 5 / 6;
    }

}

/*-----------------------ANIMATIONS-----------------------*/

@keyframes animation1 {

}

@keyframes animation2 {

}

@keyframes animation3 {

}