#head{
    position: -webkit-sticky;
	position: sticky;
	top: 0;
    align-self: flex-start;
}

body{
    overflow-x: hidden;
}

nav{
    background: #777;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
}

.cualquiera{
    display: flex;
    flex-direction: column;
    
}

nav > *{
    margin: 0px 40px;
}

.icon{
    color: #fff;
    font-size: 50px;
}

.nav__ul{
    display: none;
}

.nav__icon:hover ~ ul {
    display: block;
    right: 0;
}

.prueba{
    background: #777;
    height: 50px;
}

.nav__logoImg{
    width: 100px;
}

ul{
    position: absolute;
    top: 110px;
    right: -500px;
    background-color: #777;
    text-align: center;

    width: 150px;
    height: 70px;



    


    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

a{
    text-decoration: none;
    color: #fff;
    display: inline-block;
}




/* FOR STICKY */

p{
    font-size: 50px;
}


@media only screen and (min-width: 900px) {

    header{
        top: -40px;
    }
    
    nav{
        flex-direction: row;
        justify-content: space-around;
    }

    .nav__icon{
        display: none;
    }

    .nav__ul{
        position: static;
        display: flex;
        flex-direction: row;
        text-align: none;
    }

    .nav__links{
        display: block;
    }

    .nav__logoImg{
        width: 115px;
    }

    ul a{
        font-size: 20px;
        margin: 40px;
    }

}