/*-----------------------GENERAL-----------------------*/

/* Scroll behavior */

html{

    scroll-behavior: smooth;
    scroll-behavior: auto;

}

/* Global variables */

:root{

    --g-var1: placeholder;
    --g-var2: placeholder;
    --g-var3: placeholder;
    --g-var4: placeholder;
    --g-var5: placeholder;
    --g-var6: placeholder;

}

/* Local variables */

.selector1{

    --l-var1: placeholder;
    --l-var2: placeholder;
    --l-var3: placeholder;

}

.selector2{

    --l-var1: placeholder;
    --l-var2: placeholder;
    --l-var3: placeholder;

}

/*-----------------------MOBILE-----------------------*/

body{

    display: flex;
    background-color: #222021;
    font-family: "Roboto", sans-serif;
    justify-content: center;

}

.gallery{

    color: #888;
    display: grid;
    grid-auto-rows: 280px;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    margin: 15px 0;
    place-content: center;
    width: 90%;

}

.gallery__article{

    align-items: center;
    display: flex;
    flex-direction: column;

}

.gallery__art{

    height: 85%;
    width: 100%;

}

.gallery__image{

    height: 100%;
    object-fit: cover;
    width: 100%;

}

.gallery__author{

    margin-top: 10px;
    overflow-x: visible;
    text-overflow: ellipsis;
    white-space: nowrap;

}



/*-----------------------TABLET-----------------------*/

@media screen and (min-width: 700px) {
    
    .gallery{
    
        grid-template-columns: repeat(3, 1fr);
    
    }
    
    }


/*-----------------------DESKTOP-----------------------*/

@media screen and (min-width: 1100px) {
    

.gallery{

    grid-template-columns: repeat(4, 1fr);

}

.gallery__article:nth-child(1){
    grid-row: span 2;
}
.gallery__article:nth-child(3){
    grid-row: span 2;
}
.gallery__article:nth-child(7){
    grid-row: span 2;
}
.gallery__article:nth-child(8){
    grid-column: span 2;
}
.gallery__article:nth-child(10){
    grid-column: span 2;
}


}

/*-----------------------ANIMATIONS-----------------------*/

@keyframes animation1 {

}

@keyframes animation2 {

}

@keyframes animation3 {

}