*{
    font-family: "Nunito", sans-serif;

}

img{

    height: 100%;
    object-fit: cover;
    object-position: center;
    width: 100%;

}


.gallery__header{

    margin-bottom: 80px;
    padding: 20px;

}

.gallery__title{

    font-family: "Roboto", sans-serif;

}

.gallery__items{

    display: grid;
    grid-auto-flow: row dense;
    grid-auto-rows: 200px;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    padding: 15px;
    place-items: center center;

}



.gallery__item:nth-child(4){

    grid-row: span 3;

}

.gallery__item:nth-child(7){

    grid-column: span 2;

}

.gallery__item:nth-child(5){

    grid-column: span 2;
    grid-row: span 2;

}

.gallery__item:nth-child(11){

    grid-row: span 2;

}

.gallery__item:nth-child(9){

    grid-column: span 2;
    grid-row: span 3;

}

.gallery__item:nth-child(14){

    grid-column: span 2;

}

.gallery__item:nth-child(16){

    grid-column: span 2;

}

.gallery__item:nth-child(15){

    grid-row: span 3;

}





@media all and (max-width:800px) {
    
    .gallery__items{

        grid-auto-rows: 400px;
        grid-template-columns: 1fr;

    }

    .gallery__items .gallery__item{ /* Para aumentar especificidad a 0, 2, 0 (nada de id, 2 clases y nada de elementos) */

        grid-column: span 1;
        grid-row: span 1;

    }

}