/*

.mainDiv {
    font-size: 1px;
    padding: 300px;
}

.mainDiv__h2 {
    font-size: 200em;
    padding: 4em;
}
*/

* {
    padding: 0;
    margin: 0;
}

.mainDiv {
    background-color: rgb(15, 228, 68);
    width: 100vw;
    height: 50vh;
}

/* Las medidas viewport width y height se ajustan automáticamente al tamaño de la pantalla. */

h1{
    font-size: 4em;
    font-family: pelotudoFont, arial; /* La coma indica que si no encuentra la primera, pasará a la segunda. */
    font-weight: 700;
    line-height: 1.6;
}

.mainDiv__h2 {
    font-size: 2.5em;
    font-family: 'Cabin Sketch', cursive;
    font-weight: 800;
}

/* 
    Font size: Tamaño, simple.
    Font weight: Densidad de la letra.
    Font family: Fuente. (Se recomienda google fonts)
    Line height: Como de gorda es la línea. En veces que ocupa un caracter. (Los h1 nunca se pegan a arriba del todo)
*/ 

/* Para poner cualquier fuente, hay que buscarla en google fonts y poner ese link en en head del html. */